<div class="container">
        <h1>CALENDARIO</h1>
        <div class= "weekInMonth" style="padding-top: 2rem;" [routerLink]="['/semana']">
            <div class="dayInMonth" [routerLink]="['/dia']">
                    <p></p>
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
        </div>
        <div class= "weekInMonth" [routerLink]="['/semana']">
            <div class="dayInMonth" [routerLink]="['/dia']">
                    oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
        </div>
        <div class= "weekInMonth" [routerLink]="['/semana']">
            <div class="dayInMonth" [routerLink]="['/dia']">
                    oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
        </div>
        <div class= "weekInMonth" [routerLink]="['/semana']">
            <div class="dayInMonth" [routerLink]="['/dia']">
                    oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
        </div>
        <div class= "weekInMonth" style="padding-bottom: 2rem;"  [routerLink]="['/semana']">
            <div class="dayInMonth" [routerLink]="['/dia']">
                    oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
            <div class="dayInMonth" [routerLink]="['/dia']">
                oeua
            </div>
        </div>
    </div>
