:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }


.container{
    border: 0;
    padding-bottom: 2rem;
}
h1{
    color: white;
    padding: 2rem;
    text-align: center;
}
.weekInMonth{
    display: flex;
    justify-content: center;
    background-color: #0c7b93;
    padding-left: 2rem;
    padding-right: 2rem;
}


.dayInMonth{
    border-style: solid;
    background-color: #00a8cc;
    border-color: white;
    border-radius: 0.1rem;
    width: 20rem;
    height: 5rem;
    margin: 0.5rem;
}

.dayInMonth:hover {
    background-color: #27496d;
    color: white;
}


