.headerDiv{
    background-color: red; 
    text-align: center; 
    padding: 0.5%;
    margin-left: 10%; 
    width: 80%;
    margin-top: 3%;
    border: 3px solid black;
}

table, th , td  {
    background-color: white;
    border: 3px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

table{
    width: 98%;
    margin-left: 1%;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

h1{
    margin: 1%;
   color: white; 
}

